.apartmentCard {
  position: absolute;
  width: 328px;
  bottom: 72px;
  left: 56px;

  .apartmentCardButton {
    path {
      fill: white;
    }
  }
}

.arrow {
  display: inline-block;
  position: absolute;
  bottom: 66px;
  left: 78px;
  width: 6px;
  height: 6px;
  border-top: 6px solid white;
  border-right: 6px solid transparent;
  border-bottom: 0;
  border-left: 6px solid transparent;
  vertical-align: 6px;
}
