@value brandPrimary, orangeLight, darkPrimary, customWhite, customBlack, gray400, gray300, gray500 from '../../../../assets/styles/colors.css';

@keyframes clickEffect {
  0% {
    width: 0;
    height: 0;
  }

  100% {
    width: 500px;
    height: 500px;
  }
}

.leftIcon {
  margin-right: 8px;
}

.rightIcon {
  margin-left: 16px;
}

.label {
  position: relative;
  display: inline-block;
}

.buttonSizeL {
  height: 56px;
}

.buttonSizeM {
  height: 48px;
}

.buttonSizeS {
  height: 32px;
}

.buttonSizeXS {
  height: 28px;
}

.button {
  cursor: pointer;
  padding: 0 16px;
  text-align: center;
  border-radius: 66px;
  outline: none;
  line-height: 1;
  border: none;
  display: inline-block;
  position: relative;
  transition: all .4s ease;

  &:focus {
    outline: none;
  }
}

.buttonThemePrimary.disabled {
  background: gray300;
  color: gray500;

  &:hover {
    background: gray300;
  }

  .clickEffect {
    background: gray300;
  }
}

.count {
  display: inline-block;
  position: relative;
  font-size: 12px;
  padding: 6px 12px;
  margin-left: 12px;
  background: #D46D04;
  border-radius: 16px;
  z-index: 100;
}

.buttonThemePrimary {
  background: brandPrimary;
  color: customWhite;

  &:hover {
    background: darkPrimary;
  }

  .clickEffect {
    background: brandPrimary;
  }
}

.buttonThemeOutline {
  background: orangeLight;
  color: brandPrimary;

  &:hover {
    color: customWhite;
    background: brandPrimary;
  }

  .clickEffect {
    background: darkPrimary;
  }
}

.buttonThemeWhite {
  background: customWhite;
  color: customBlack;
}

.clickEffectContainer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  border-radius: 60px;
}

.clickEffect {
  position: relative;
  box-sizing: border-box;
  border-radius: 50%;
  animation: clickEffect .5s ease-out;
  transform: translate(-50%, -50%);
  animation-fill-mode: forwards;
}
