@value customBlack from '../../../../assets/styles/colors.css';

.heading {
  color: customBlack;
  margin: 0;
  font-weight: 600;
}

.h1 {
  font-size: 48px;
  line-height: 1.44;
  letter-spacing: .5px;
}

.h2 {
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: .12px;
}

.h3 {
  font-size: 16px;
  letter-spacing: 0.08px;
  line-height: 1.31;
}
