.container {
  width: 100%;
  margin: auto;
  max-width: 1408px;
  padding: 0 40px;

  @media(min-width: 1440px) {
    padding: 0;
  }

  &.wide {
    max-width: 100%;
    padding: 0 16px;

    @media(min-width: 480px) {
      padding: 0 24px;
    }

    @media(min-width: 1024px) {
      padding: 0 40px;
    }
  }
}
