@value lighter, successBackground, success, errorBackground, customWhite, error from '../../../../assets/styles/colors.css';

.apartmentCardWithGallery {
  .navButton {
    position: absolute;
    z-index: 10;
    top: 80px;
    opacity: 0;
    cursor: pointer;

    &.active,
    &:global(.apartment-card-with-gallery_nav-button__active){
      opacity: 1;
    }
  }

  .next {
    margin-left: 16px;
    right: 8px;
  }

  .prev {
    left: 8px;
    transform: rotate(180deg);
  }

  .cardSliderContainer {
    position: relative;
    height: 192px;
  }

  .imageContainer {
    position: relative;
  }

  .apartmentTimeToFree {
    background: successBackground;
    color: success;
    font-weight: bold;
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 10;

    svg {
      width: 18px;
      height: 18px;
    }

    path {
      fill: success;
    }
  }

  .apartmentSoonFree {
    background: errorBackground;
    color: error;

    path {
      fill: error;
    }
  }

  .dots {
    z-index: 10;
    position: absolute;
    bottom: 12px;
    right: 0;
    left: 0;
    padding: 4px 12px;
    text-align: center;
    color: white;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .dot {
    cursor: pointer;
    opacity: .7;
    width: 6px;
    height: 6px;
    background: customWhite;
    border-radius: 3px;
    margin: 0 4px;

    &.active {
      opacity: 1;
    }
  }

  .slide {
    position: relative;
    border-radius: 14px 14px 0 0;
    overflow: hidden;
  }

  .apartmentImage {
    height: 192px;
    border-radius: 14px 14px 0 0;
    width: 100%;

    &.withBlur {
      filter: blur(4px);
    }
  }

  .showMore {
    border-radius: 14px 14px 0 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(25, 25, 25, 0.5);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}