@value gray200 from '../../../assets/styles/colors.css';

.currentOffersScreen {
  padding: 40px 0 32px;
  background-color: gray200;

  .card {
    margin-top: 24px;
  }

  .slider {
    margin-top: 32px;
  }
}