.page {
  .browserWarning {
    display: flex;
    align-items: center;
    position: fixed;
    left: 50%;
    margin-left: -380px;
    bottom: 32px;
    width: 760px;
    z-index: 10000;
    background: white;
    border-radius: 66px;
    padding: 8px 8px 8px 24px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }

  .browserWarningClose {
    min-width: 48px;
    margin-left: 8px;
  }

  .browserWarningButton {
    padding: 0 32px;
  }
}