@value brandPrimary: #F57C00;
@value darkPrimary: #EA7600;
@value gray200: #FBFBFD;
@value gray300: #F1F2F4;
@value gray400: #EAECEF;
@value gray500: #C9CED6;
@value customBlack: #191919;
@value customWhite: #FFF;
@value light: #8A94A6;
@value orangeLight: #FDEBD9;
@value yellowBackground: #FFECC7;
@value medium: #7F8285;
@value success: #27D086;
@value successBackground: #EAFCF7;
@value error: #FF5F5F;
@value errorBackground: #FFC2C2;
@value lighter: #A6AEBC;
@value light: #8A94A6;
@value customRed: #EB5757;
@value redLight: #FCE6E6;
@value customGreen: #27AE60;
@value greenLight: #EAFCF7;
