@value customWhite, gray400 from '../../../../../assets/styles/colors.css';

.headerBurger {
  z-index: 1;

  .headerContent {
    padding: 0 16px 32px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 64px;
    bottom: 0;
    left: 0;
    right: 0;
    background: customWhite;
  }

  .menuItem {
    display: block;
    border-bottom: 1px solid gray400;
    padding: 24px 0;

    &:last-child {
      border-bottom: none;
    }
  }

  .burgerIcon {
    width: 32px;
    height: 32px;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid gray400;
    border-radius: 6px;
  }
}