@value gray200, light from '../../../assets/styles/colors.css';

.firstScreen {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;

  &.desktop {
    .action {
      width: 200px;
    }

    .citiesContent {
      width: calc(57% - 24px);

      &.desktop {
        width: calc(57% - 32px);
      }
      margin: 0;
    }

    .city {
      width: calc(33.33% - 12px);
    }

    .actionsContainer {
      width: 57%;
    }

    .cityImage {
      height: 240px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .citiesContainer {
    margin: auto;
  }

  .citiesWrapper {
    z-index: -1;
    flex: 1;
    background-color: gray200;
  }

  .citiesContent {
    padding: 46px 0;
    margin: auto;
  }

  .citiesTitle {
    margin-bottom: 32px;
  }

  .cities {
    display: flex;
    justify-content: space-between;
  }

  .city {
    flex: 1;
    width: calc(50% - 12px);
    margin-right: 24px;

    &.desktop {
      margin-right: 32px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .cityImage {
    margin-bottom: 16px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 6px;
    height: 160px;
  }

  .cityName {
    margin-bottom: 4px;
  }

  .cityCount {
    color: light;
  }

  &.mobile {
    min-height: 320px;

    .actions {
      justify-content: space-between;
    }

    .left {
      padding: 0;
    }

    .action {
      margin-right: 0;
      width: 45%;
    }
  }

  .actionsWrapper {
    margin-top: 120px;
    margin-bottom: 32px;
  }

  .actions {
    display: flex;
    margin-top: 40px;
  }

  .action {
    margin-right: 24px;
  }

  .cardContainer {
    &.fixed {
      position: fixed;
    }

    position: absolute;
    bottom: 64px;
  }

  .toggleCardButton {
    margin-left: 56px;
  }

  .assetImage {
    position: absolute;
    background-position: center;
    background-size: cover;
    right: 0;
    bottom: 0;
    top: 0;
    width: 43%;
  }
}