@value gray400, customWhite, brandPrimary, customBlack from '../../../../assets/styles/colors.css';

.header {
  transition: all 0.2s linear;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  &.hide {
    transform: translateY(-64px);

    &.desktop {
      transform: translateY(-80px);
    }
  }

  .headerContent {
    display: flex;
    height: 80px;
    justify-content: space-between;
    width: 100%;
    background: white;
    transition: all 0.2s linear;

    .rightPanel {
      display: flex;
    }

    .loginButton {
      margin-left: 36px;
    }

    .buttonIcon {
      position: relative;
      top: -2px;

      &.activeButtonIcon {
        path {
          fill: white;
        }
      }

      path {
        fill: brandPrimary;
      }
    }

    .headerMenu {
      display: flex;
      align-items: flex-start;

      .menuItem {
        padding-top: 12px;
        color: customBlack;
        text-decoration: none;
        margin-left: 24px;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        position: relative;

        &:after {
          content: '';
          display: block;
          height: 3px;
          background-color: brandPrimary;
          position: absolute;
          bottom: -1px;
          left: 50%;
          right: 50%;
          transition: all 0.5s cubic-bezier(0.25, 1, 0.33, 1);
        }

        &:hover {
          &:after {
            left: -6px;
            right: -6px;
          }
        }
      }
    }

    .logo {
      cursor: pointer;
      height: 24px;
      margin-top: 12px;
    }

    &.desktop {
      border-bottom: 1px solid gray400;
      padding: 16px 32px 0;

      .logo {
        width: 105px;
      }

      &.onTop {
        background: none;
        border-bottom: none;

        .headerMenu {
          .menuItem {
            color: customWhite;
          }
        }
      }
    }

    &.mobile {
      height: 64px;
      padding: 16px;

      .logo {
        width: 24px;
      }
    }
  }
}
