@value gray300, gray400, customWhite, customBlack from '../../../../styles/colors.css';

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.sizeS {
  width: 32px;
  height: 32px;
  border-radius: 16px;
}

.sizeM {
  width: 48px;
  height: 48px;
  border-radius: 24px;
}

.sizeL {
  width: 56px;
  height: 56px;
  border-radius: 28px;
}

.themeGray {
  background-color: gray300;
}

.themeWhite {
  background-color: customWhite;

  &.withBorder {
    border: 1px solid gray400;
  }

  path {
    fill: customBlack;
  }
}
