@import '../Text/Text.module.scss';
@value brandPrimary, customWhite from '../../../../assets/styles/colors.css';

.circleButton {
  composes: text;
  composes: textSizeM;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  text-align: center;
  border-radius: 28px;
  width: 56px;
  height: 56px;
  outline: none;
  line-height: 1;
  border: none;

  &:active, &:focus {
    outline: none;
  }
}

.circleButtonThemeOutline {
  background: white;
}

.circleButtonThemePrimary {
  background: brandPrimary;

  path {
    fill: customWhite;
  }
}
