@value customBlack, light from '../../../../assets/styles/colors.css';

.text {
  line-height: 1.5;
  letter-spacing: 0.24px;
}

.textSizeXS {
  font-size: 12px;
}

.textSizeS {
  font-size: 14px;
}

.textSizeM {
  font-size: 16px;
}

.textSizeL {
  font-size: 18px;
}

.textSizeH1 {
  font-size: 32px;
  line-height: 1.44;
  letter-spacing: .5px;
}

.textSizeH2 {
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: .12px;
}

.textSizeH3 {
  font-size: 16px;
  letter-spacing: 0.08px;
  line-height: 1.31;
}

.textWeightMedium {
  font-weight: 500;
}

.textWeightBold {
  font-weight: 600;
}

.colorLight {
  color: light;
}

.colorBlack {
  color: customBlack,
}

.colorWhite {
  color: white;
}

