@value gray400 from '../../../assets/styles/colors.css';

.apartmentCard {
  min-width: 288px;
}

.apartmentValues {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.apartmentValueContainer {
  display: flex;
  align-items: center;
}

.apartmentValueIcon {
  margin-right: 6px;
}

.metroContainer {
  display: flex;
  margin: 0 -8px;
  padding: 0 8px 16px;
  align-items: center;
  border-bottom: 1px solid gray400;
}

.metroColor {
  position: relative;
  top: 1px;
  margin-right: 12px;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  display: inline-block;
}

.price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
