@value customBlack, lighter, successBackground, success, error, errorBackground from '../../../assets/styles/colors.css';

.apartmentsSlider {
  width: 100%;

  &.mobile {
    .allApartmentsLink {
      width: 100%;
    }
  }

  .cards {
    margin: 0 0 0 -16px;
    width: calc(100% + 24px);

    &.desktop {
      margin: 0 0 0 -32px;
      width: calc(100% + 48px);
    }
  }

  .card {
    margin: 24px 0;
    border-radius: 14px;

    &.desktop {
      margin: 32px 0;
    }

    &:hover {
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    }
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navigation {
    display: flex;
  }


  .navButton {
    &.next {
      margin-left: 16px;
    }

    &.disabled {
      path {
        fill: lighter;
      }
    }
  }

  .prev {
    transform: rotate(180deg);
  }
}